* {
  margin: 0;
  /* padding: 0; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 110vh;
}
.container {
  width: 50%;
  height: fit-content;
  background: white;
  padding-top: 20px;
  padding-bottom: 15px;
}

.list-style {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: lightyellow;
}

h1 {
  text-align: center;
  color: Blue;
}

.code {
}

.code h3 {
  text-align: center;
}

.code-section {
  margin-top: 10px;
  background-color: lightcyan;
  padding: 10px 15px;
}

.code-line {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ol,
ul {
  margin-top: 10px;
}
